body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  align-content: center;
}
img {
  align-content: center;
}
a {
  padding: 10px;
  background: red;
}
#featured-property {
  width: 800px;
  align-content: center;
}